<footer id="foot">
    <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/newConnection">Start A Convention</a></li>
    </ul>
    <small>Copyright &copy; 2019 CritTradez. All Rights Reserved</small>
  

    <!-- Creates a validation link for the html file -->
    <a href="https://html5.validator.nu/">Validate HTML</a>
</footer>