<header>
    <a href="/"><img src="Assets/IMG/Ckventions.png" width="150" height="150" title="kickz" alt="logo"></a>
    <% include nav.ejs %>

    <div class="user">
       
            <a href="/userProfile"><%= session.email %></a>
       
            <svg width="70" height="70">
                <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->
                <g>
                    <title>Layer 1</title>
                    <circle stroke="#000000" id="svg_1" r="28.33484" cy="35" cx="33.00001" stroke-width="3"
                        fill="#ff7f50" />
                    <circle stroke="#000000" id="svg_2" r="6.69175" cy="22.75069" cx="33.62881" stroke-linecap="round"
                        stroke-linejoin="round" stroke-dasharray="null" stroke-width="3" fill="#ffffff" />
                    <ellipse stroke="#000000" ry="7.79502" rx="16.70361" id="svg_4" cy="44.65098" cx="34"
                        stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="null" stroke-width="3"
                        fill="#ffffff" />
                </g>
            </svg>
        </div>
</header>