<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="Assets/CSS/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Assets/CSS/main.css">
</head>

<body>
    <!-- includes header partial -->
    <% include Partials/header.ejs %>
    <div class="content">
        <div class="one">
            <div class="title2">
                <h1>About Us</h1>
            </div>

            <div class="purpose">
                <h3><strong>Our Purpose</strong></h3>
            </div>
            <div id="first">
                <p><strong>The shoe business is one great way to make money. We are all about creating opportunities
                        for people to make money doing hobbies they enjoy. Here you can create Buy, Sell, Trade
                        conventions
                        for people to network and buy, sell or trade their sneakers. Also, you can connect with
                        conventions
                        around your area and be someones next buyer. These conventions are filled with many people who
                        want
                        to learn the business, gain the knowledge, expand their network and take home there newest
                        sneaker.
                        This isn't only going to change your horizons, its going to change your life!
                    </strong></p>
            </div>
        </div>
    </div>
     <!-- includes footer partial -->
    <% include Partials/footer.ejs %>
</body>

</html>