<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="Assets/CSS/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Assets/CSS/main.css">
</head>

<body>
    <!-- includes header partial -->
    <% include Partials/header.ejs %>
    <div class="content">
        <div class="one">
            <div class="container">
                <div class="tablecontainer">
                    <div class="title1">
                        <h1>Contact Us</h1>
                    </div>

                    <div id="third">
                        <p><strong>Contact us in the following three ways:</strong></p>
                        <ul>
                            <li><strong>Phone: 555.666.7777</strong></li>
                            <li><strong>Email: ckventions@corp.com</strong></li>
                            <li><strong>Via Twitter: C.K.Vent</strong></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

    </div>
     <!-- includes footer partial -->
    <% include Partials/footer.ejs %>
</body>

</html>