<!doctype html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="Assets/CSS/bootstrap/dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="Assets/CSS/main.css">
</head>

<body>
    <!-- includes header partial -->
    <% include Partials/header.ejs %>
    <div class="content">
        <div class="one1">
            <h1>BUY<span>&rarr;</span>SELL<span>&rarr;</span>TRADE</h1>
            <h1 class="title">Conventions</h1>
            <div class="container1">
                <p> Whether they are rare, old, use, or new, all sneakers can be
                    sold, bought or traded at one of these conventions. To start a
                    convention or attend one, you have came to the right place!
                </p>
                <div class="image">
                    <img src="Assets/IMG/offwhite.jpg" title="kickz" alt="logo">
                </div>
            </div>
        </div>

        <div class="whole">
            <div class="works">
                <h1>HOW IT WORKS</h1>
            </div>
            <div class="container">
                <div class="row align-items-start">
                    <div class="col">
                        <h1>SELL</h1>
                        <p> Have your table set up by the desired time with the products
                            you want to sell. Begin to connect and sell to others.
                        </p>
                    </div>
                    <div class="col">
                        <h1>BUY</h1>
                        <p> There will be many tables at each convention. Choose as many tables
                            you want to explore and began shopping.
                        </p>
                    </div>
                    <div class="col">
                        <h1>TRADE</h1>
                        <p> Connect with others who have their own table or someone who may not
                            have a table. All trades happen within the convention. Trades with those
                            who have tables will be documented.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="two">
            <div class="works1">
                <h1>START A CONVENTION</h1>
            </div>
            <div class="table">
                <div class="row">
                    <div class="make">
                        <img src="Assets/IMG/make.png" title="Make" alt="icon">
                        <h1>MAKE</h1>
                    </div>
                    <p> Start a new convention at the 'Start a Convention' page. Allow people
                        to attend your convention and include the appropriate information.
                    </p>
                </div>

                <div class="row">
                    <div class="create">
                        <img src="Assets/IMG/create.jpg" title="Create" alt="icon">
                        <h1>CREATE</h1>
                    </div>
                    <p> Insure the details of when/where the convention is going to be is accurate.
                        Have details of how many people will be attending and the number of tables.
                    </p>
                </div>

                <div class="row">
                    <div class="event">
                        <img src="Assets/IMG/event.jpg" title="Event" alt="icon">
                        <h1>EVENT</h1>
                    </div>
                    <p> Record the start time and end time of event. Record the number of people attended
                        and the number of tables. Connect, buy, sell, and trade! Return document to our
                        service team.
                    </p>
                </div>
            </div>
        </div>
    </div>
     <!-- includes footer partial -->
    <% include Partials/footer.ejs %>
</body>

</html>